@{
    ViewData["Title"] = "Pagia Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem vido</h1>
    <p>Estude sobre <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
