<h1>TESTANDO SE POSSO DEFINIR UM LAYOUT DIFERENTE PARA CADA VIEWS</h1>

<br />

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()   @* aqui é onde é executado as views *@
    </main>
</div>